extends parent.pug

block article
    h1(class="h1") Tools used for this lab

    hr
        
    div 
        include article.pug

        div(class="card-deck center")
            each val in articles
                +article(val.source, val.title, val.description, val.footer)            