.body{
	background-color: rgba(0,0,0,0.05);
	color: black;
}

.navbar{
	background-color: rgba(0,0,0,0.9);
}

footer{
	padding-top: 60px;
}

.h1, .center, .h3{
	text-align: center;
	padding: 10px;
	margin: 15px;
}

div.card{
	padding: 15px;
	box-shadow: 0.5px 1px 15px;
}

img{
	width: 250px;
	height: 150px;
	margin: auto;
}

.me{
	width: 30%;
	margin: 0 auto;
}

.about, .extra{
	width: 65%;
	margin: 0 auto;
	text-align: center;
}

.text{
	color: black;
}

hr{
	background-color: #0275d8;
	width: 90%;
}

div.navbar-nav > a.nav-item.nav-link{
	color: #0275d8;
	font-weight: bold;
}

div.navbar-nav > a.nav-item.nav-link:hover{
	color: white;
}